<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key>
  <string>com.newsinsight.digest</string>
  <key>ProgramArguments</key>
  <array>
    <string>/bin/zsh</string>
    <string>-lc</string>
    <string>cd "__REPO__" &amp;&amp; scripts/dev.sh digest</string>
  </array>
  <key>StartCalendarInterval</key>
  <dict>
    <key>Hour</key><integer>5</integer>
    <key>Minute</key><integer>0</integer>
  </dict>
  <key>EnvironmentVariables</key>
  <dict>
    <key>PATH</key>
    <string>__PATH__</string>
    <key>CLAUDE_CLI</key>
    <string>__CLAUDE__</string>
  </dict>
  <key>StandardOutPath</key>
  <string>__REPO__/ops/logs/digest.log</string>
  <key>StandardErrorPath</key>
  <string>__REPO__/ops/logs/digest.log</string>
</dict>
</plist>
